<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Dark Effect Volume 2</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="screen" />
<link rel="alternate stylesheet" type="text/css" media="screen" title="green-theme" href="~/Content/style2.css" />
<link rel="alternate stylesheet" type="text/css" media="screen" title="red-theme" href="~/Content/style3.css" />
</head>
<body id="section-index">
<div id="header">
  <h1>Your Website Name</h1>
  <h2>Your site slogan goes here</h2>
</div>
<div id="navigation" style="margin-bottom:5px;">
  <ul>
    <li><a href="http://all-free-download.com/free-website-templates/">Home</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">Page 1</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">Page 2</a></li>
  </ul>
</div>
<div id="main-image" style="margin-bottom:5px;"></div>
<div id="container">
  <div id="content">
    <div id="nav">
      <ul>
        <li class="cat" style="border-top: 1px solid #000;">Pages</li>
        <li><a href="http://all-free-download.com/free-website-templates/">Page 1</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Page 2</a></li>
        <li class="cat">Categories</li>
        <li><a href="http://all-free-download.com/free-website-templates/">Cat 1</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Cat 2</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Cat 3</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Cat 4</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Cat 5</a></li>
      </ul>
    </div>
    <div id="content-main">
      <div class="post">
        <div class="posttitle">
          <h2>Welcome to Your Website</h2>
        </div>
        <div class="entry">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque sed felis. Aliquam sit amet felis. Mauris semper, velit semper laoreet dictum, quam diam dictum urna, nec placerat elit nisl in quam. Etiam augue pede, molestie eget, rhoncus at, convallis ut, eros. <br />
            <br />
            Aliquam pharetra. Nulla in tellus eget odio sagittis blandit. Maecenas at nisl. Nullam lorem mi, eleifend a, fringilla vel, semper at, ligula. Mauris eu wisi. Ut ante dui, aliquet nec, congue non, accumsan sit amet, lectus. Mauris et mauris. Duis sed massa id mauris pretium venenatis. Suspendisse cursus velit vel ligula. Mauris elit.</p>
          <br />
          <br />
          <span style="text-align:right;"><a href="http://all-free-download.com/free-website-templates/">Read More &raquo;</a></span> </div>
      </div>
      <div class="post">
        <div class="posttitle">
          <h2>Second Homepage Article</h2>
        </div>
        <div class="entry">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque sed felis. Aliquam sit amet felis. Mauris semper, velit semper laoreet dictum, quam diam dictum urna, nec placerat elit nisl in quam. Etiam augue pede, molestie eget, rhoncus at, convallis ut, eros. <br />
            <br />
            Aliquam pharetra. Nulla in tellus eget odio sagittis blandit. Maecenas at nisl. Nullam lorem mi, eleifend a, fringilla vel, semper at, ligula. Mauris eu wisi. Ut ante dui, aliquet nec, congue non, accumsan sit amet, lectus. Mauris et mauris. Duis sed massa id mauris pretium venenatis. Suspendisse cursus velit vel ligula. Mauris elit.</p>
        </div>
      </div>
    </div>
    <div id="nav-right" style="margin-bottom:5px;">
      <ul>
        <li class="cat" style="border-top: 1px solid #000;">About this site</li>
        <li style="text-align:center"><img src="~/Images/profile.jpg" alt="" /> <br />
          Here you can describe what your website is about</li>
        <li class="cat" style="border-top: 1px solid #333;">Helpful Links</li>
        <li><a href="http://all-free-download.com/free-website-templates/">Link 1</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Link 2</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Link 3</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Link 4</a></li>
        <li><a href="http://all-free-download.com/free-website-templates/">Link 5</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-area" style="margin-top:5px;"><b>Theme by <a href="http://www.itsnature.org">Nature Pictures</a></b>
  <div id="back-to-top"><a href="#header">Back to Top</a></div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
